.container {
    max-width: 750px;
    margin: 0 auto 100px auto;
}

.titulo1 {
    text-align: center;
    margin: 30px 0 50px 0;
    color: black;

    font-family: "Roboto Condensed", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.novacategoria {
    background-color: #f2f2f2;
    padding: 10px 15px;
    margin: 0 0 0 50px;
    border-radius: 5px;
    color: black;

    font-family: "Cabin", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

/*container para todo o registro de nova categoria*/
.containernovac {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.titulo2novac {
    color: black;

    font-family: "Roboto Condensed", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.formregistracat {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 75%;
}

/*container para o nome da categoria*/
.inputnome {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;

    width: 100%;
    border: 1px solid black;
    padding: 5px;
    box-sizing: border-box;
}

.inputnomelabel {
    color: black;

    font-family: "Cabin", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.inputnomeinput {
    color: black;
    flex-grow: 1;

    font-family: "Cabin", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

/*container para o submit do registro de categoria*/
.submit {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;

    width: 100%;
    border: 1px solid black;
    padding: 5px;
    box-sizing: border-box;
}

.submitsubmit {
    color: black;
    box-sizing: border-box;
    padding: 7px 10px;

    font-family: "Cabin", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}